
.sidebar {
  width: 250px;
  background-color: #111827;
  color: #fff;
  padding: 20px;
  flex-shrink: 0;
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}